.comment {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.sort-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
}
.sort-buttons button.active {
    font-weight: bold;
}
.sort-buttons button::after {
    content: '';
    margin-left: 5px;
}
.sort-buttons button.asc::after {
    content: '↑';
}
.sort-buttons button.desc::after {
    content: '↓';
}
.pagination {
    justify-content: center;
}
.rand-block{
    gap: 10px;
}
#alert-container{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
@media (max-width: 576px) {
    .comment {
        padding: 10px;
    }
    .comment p {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .form-group label {
        font-size: 14px;
    }
    .form-control {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
    }
    #create-random{
        width: 100%;
    }
}

